<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :urn %><br>
    <%= f.text_field :urn %>
  </div>
  <div class="field">
    <%= f.label :work %><br>
    <%= f.text_field :work %>
  </div>
  <div class="field">
    <%= f.label :title_eng %><br>
    <%= f.text_area :title_eng %>
  </div>
  <div class="field">
    <%= f.label :orig_lang %><br>
    <%= f.text_area :orig_lang %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :urn_status %><br>
    <%= f.text_field :urn_status %>
  </div>
  <div class="field">
    <%= f.label :redirect_to %><br>
    <%= f.text_field :redirect_to %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :edited_by %><br>
    <%= f.text_field :edited_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
