<p id="notice"><%= notice %></p>

<p>
  <strong>Urn:</strong>
  <%= @work.urn %>
</p>

<p>
  <strong>Work:</strong>
  <%= @work.work %>
</p>

<p>
  <strong>Title eng:</strong>
  <%= @work.title_eng %>
</p>

<p>
  <strong>Original language:</strong>
  <%= @work.orig_lang %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @work.notes %>
</p>

<p>
  <strong>Urn status:</strong>
  <%= @work.urn_status %>
</p>

<p>
  <strong>Redirect to:</strong>
  <%= @work.redirect_to %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @work.created_by %>
</p>

<p>
  <strong>Edited by:</strong>
  <%= @work.edited_by %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', request.referer %>
