<p id="notice"><%= notice %></p>

<p>
  <strong>Urn:</strong>
  <%= @author.urn %>
</p>

<p>
  <strong>Authority name:</strong>
  <%= @author.authority_name %>
</p>

<p>
  <strong>Canonical:</strong>
  <%= @author.canonical_id %>
</p>

<p>
  <strong>Mads file:</strong>
  <%= @author.mads_file %>
</p>

<p>
  <strong>Alt ids:</strong>
  <%= @author.alt_ids %>
</p>

<p>
  <strong>Related works:</strong>
  <%= @author.related_works %>
</p>

<p>
  <strong>Urn status:</strong>
  <%= @author.urn_status %>
</p>

<p>
  <strong>Redirect to:</strong>
  <%= @author.redirect_to %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @author.created_by %>
</p>

<p>
  <strong>Edited by:</strong>
  <%= @author.edited_by %>
</p>

<%= link_to 'Edit', edit_author_path(@author.urn) %> |
<% if request.referer =~ /edit/%>
  <%= link_to 'Back', session[:search_results] %>
<% else %>
  <%= link_to 'Back', request.referer %>
<% end %> |
<%= link_to "Return to main page", root_path %>
