
<% if @v_arr %>

  <h5>Please review the information for your new version.</h5>
  <p>Note: Several of the fields appear blank or incomplete, do not worry, they will be filled in upon the completion of a MODS record.</p> 
  <table>
    <% i = 0 %>
    <% until i == 11 do %>
      <tr>
        <td><%= @v_arr[0][i] %></td>
        <td><%= @v_arr[1][i] %></td>
      </tr>
      <% i += 1 %>
    <% end %>
  </table><br>

  <h5>If these values look correct, click the 'Create Row' button. If not, please consult the <%= link_to "CITE Tables", root_path  %> and begin again. Or contact us for help.</h5><br>

  <%= button_to "Create Row", forms_reserve_path, :id => "create_row", :remote => true%>
  <%= button_to "Go Back", forms_path, :id => "back"%>
<% end %>