
<% if @v_arr %>

  <h5>Please review the information for your new version.</h5>
  <p>Note: Several of the fields appear blank or incomplete, do not worry, they will be filled in upon the completion of a MODS record.</p> 
  
  <%= render "row_display", num: 11, row: @v_arr %>

  <h5>If these values look correct, click the 'Create Row' button. If not, please consult the <%= link_to "CITE Tables", root_path  %> and begin again. Or contact us for help.</h5><br>

  <%= form_tag forms_create_path, :id => "create", :remote => "true" do %>
    <% arr_str = @v_arr[1].to_s %>
    <%= hidden_field_tag :arr, arr_str %>
    <%= submit_tag("Create Row", :id => "c_button") %>      
  <% end %>
  <%= button_to "Go Back", forms_path, method: "get", :id => "back"%>
<% end %>