<% unless @mods %> 
  <p>An * indicates a required field</p> 
  <% if @vers_row %>
    <%= render "vers_form", row: @vers_row %>
  <% else %>
    <%= form_tag forms_mods_path, :id => "mods_form", :remote => "true" do %>
      <div class = "field">
        <%= label_tag("Enter your name") %>
        <%= text_field_tag(:name, nil, :required => true) %>* 
      </div>
      <% if @w_row %>
        <% coll_id = @w_row.work %>
        <%= hidden_field_tag :w_cts, coll_id %>
        <% s_id = coll_id[/\w+\.\w+/] %>
        <% coll_title = @w_row.title_eng %>
        <% coll_auth = Textgroup.find_by_textgroup(coll_id[/urn:cts:\w+:\w+/]).groupname_eng %>
        <%= hidden_field_tag :tg_name, coll_auth %>
        <% coll_lang = @w_row.orig_lang %>
      <% else %>
        <div class = "field">
          <%= label_tag("What namespace does this edition belong to? ") %>
          <%= select_tag(:namespace, options_for_select([["greekLit", :greekLit], ["latinLit", :latinLit], ["arabicLit", :arabicLit]])) %> 
        </div>
        <div class = "field">
          <%= label_tag("If namespace did not appear above, enter it here") %>
          <%= text_field_tag(:o_namespace) %> 
        </div>
      <% end %>
      <div class = "field">
        <%= label_tag("Is this a Perseus edition? ") %>
        <%= select_tag(:perseus_check, options_for_select([["Yes", :perseus], ["No", :opp]]), :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Primary ID") %>
        <%= text_field_tag(:p_id, s_id, :required => true, :size => "30") %>*
        <%= label_tag("ID type") %>
        <%= text_field_tag(:p_id_type, nil, :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Alternate IDs (give in format 'id|type;...')") %>
        <%= text_field_tag(:alt_ids, nil, :size => "30") %>
      </div>
      <div class = "field">
        <%= label_tag("Primary Title") %>
        <%= text_field_tag(:title, coll_title, :required => true, :size => "30") %>* 
      </div>
      <div class = "field" id = "add_fields0">
        <%= label_tag("Alternate Titles (give in format 'title|type;...')") %>
        <%= text_field_tag(:alt_titles) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Name") %>
        <%= text_field_tag(:a_name, coll_auth, :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Author Term of Address") %>
        <%= text_field_tag(:t_o_a) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Dates") %>
        <%= text_field_tag(:a_dates) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Authority") %>
        <%= text_field_tag(:a_auth) %> 
      </div>
      <div class = "field">
        <%= label_tag("Authority URL") %>
        <%= text_field_tag(:a_authURI) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Record at Authority") %>
        <%= text_field_tag(:a_valueURI) %> 
      </div>
      <!-- Person 1 -->
      <div class = "field">
        <%= label_tag("Person role?") %>
        <%= select_tag(:ed_or_t1, options_for_select([["Editor", 'editor'], ["Translator", 'translator']]), :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Name") %>
        <%= text_field_tag(:ed_or_t1_name) %> 
      </div>
      <div class = "field">
        <%= label_tag("Term of Address") %>
        <%= text_field_tag(:ed_or_t1_t_o_a) %> 
      </div>
      <div class = "field">
        <%= label_tag("Dates") %>
        <%= text_field_tag(:ed_or_t1_dates) %> 
      </div>
      <div class = "field">
        <%= label_tag("Person Authority") %>
        <%= text_field_tag(:ed_or_t1_auth) %> 
      </div>
      <div class = "field">
        <%= label_tag("Authority URL") %>
        <%= text_field_tag(:ed_or_t1_authURI) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Record at Authority") %>
        <%= text_field_tag(:ed_or_t1_valueURI) %> 
      </div>
      <!-- Person 2 -->
      <div class = "field">
        <%= label_tag("Person role?") %>
        <%= select_tag(:ed_or_t2, options_for_select([["Editor", 'editor'], ["Translator", 'translator']]), :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Name") %>
        <%= text_field_tag(:ed_or_t2_name) %> 
      </div>
      <div class = "field">
        <%= label_tag("Term of Address") %>
        <%= text_field_tag(:ed_or_t2_t_o_a) %> 
      </div>
      <div class = "field">
        <%= label_tag("Dates") %>
        <%= text_field_tag(:ed_or_t2_dates) %> 
      </div>
      <div class = "field">
        <%= label_tag("Person Authority") %>
        <%= text_field_tag(:ed_or_t2_auth) %> 
      </div>
      <div class = "field">
        <%= label_tag("Authority URL") %>
        <%= text_field_tag(:ed_or_t2_authURI) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Record at Authority") %>
        <%= text_field_tag(:ed_or_t2_valueURI) %> 
      </div>
      <!-- Person 3 -->
      <div class = "field">
        <%= label_tag("Person role?") %>
        <%= select_tag(:ed_or_t3, options_for_select([["Editor", 'editor'], ["Translator", 'translator']]), :required => true) %>* 
      </div>
      <div class = "field">
        <%= label_tag("Name") %>
        <%= text_field_tag(:ed_or_t3_name) %> 
      </div>
      <div class = "field">
        <%= label_tag("Term of Address") %>
        <%= text_field_tag(:ed_or_t3_t_o_a) %> 
      </div>
      <div class = "field">
        <%= label_tag("Dates") %>
        <%= text_field_tag(:ed_or_t3_dates) %> 
      </div>
      <div class = "field">
        <%= label_tag("Person Authority") %>
        <%= text_field_tag(:ed_or_t3_auth) %> 
      </div>
      <div class = "field">
        <%= label_tag("Authority URL") %>
        <%= text_field_tag(:ed_or_t3_authURI) %> 
      </div>
      <div class = "field">
        <%= label_tag("Author Record at Authority") %>
        <%= text_field_tag(:ed_or_t3_valueURI) %> 
      </div>
      <div class= "field">
        <%= label_tag("Manuscript?") %>
        <%= select_tag :ms?, options_for_select([["Yes", :true], ["No", :false]]) %> 
      </div>
      <div class= "field">
        <%= label_tag("Publisher Country") %>
        <%= text_field_tag(:c_code) %>
        <%= link_to "Country code list", "http://www.loc.gov/marc/countries/countries_name.html" %> 
      </div>
      <div class= "field">
        <%= label_tag("Publisher City") %>
        <%= text_field_tag(:city) %> 
      </div>
      <div class= "field">
        <%= label_tag("Publisher") %>
        <%= text_field_tag(:pub) %> 
      </div>
      <div class= "field">
        <%= label_tag("Date Issued") %>
        <%= text_field_tag(:date_i) %> 
      </div>
      <div class= "field">
        <%= label_tag("Date Created") %>
        <%= text_field_tag(:date_c) %> 
      </div>
      <div class= "field">
        <%= label_tag("Date Modified") %>
        <%= text_field_tag(:date_m) %> 
      </div>
      <div class= "field">
        <%= label_tag("Edition") %>
        <%= text_field_tag(:edition) %> 
      </div>
      <div class= "field">
        <%= label_tag("Work Original Language") %>
        <%= text_field_tag(:w_lang, coll_lang, :required => true) %>*
        <%= link_to "Language code list", "http://www.loc.gov/marc/languages/language_name.html" %> 
      </div>
      <div class= "field">
        <%= label_tag("Version Text Language") %>
        <%= text_field_tag(:lang_code, nil, :required => true) %>* 
      </div>
      <div class= "field">
        <%= label_tag("Other Languages (give in format 'language code|object part;'") %>
        <%= text_field_tag(:other_langs) %> 
      </div>
      <div class= "field">
        <%= label_tag("Extent Description") %>
        <%= text_field_tag(:extent_desc) %> 
      </div>
      <div class= "field">
        <%= label_tag("Page Start") %>
        <%= text_field_tag(:pg_s) %>
        <%= label_tag("Page End") %>
        <%= text_field_tag(:pg_e) %>
      </div>
      <div class= "field">
        <%= label_tag("Page Range") %>
        <%= text_field_tag(:pg_range) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Topics (give as ; separated list)") %>
        <%= text_field_tag(:extent_desc) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Series") %>
        <%= text_field_tag(:series_title) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Online Locations (give as 'label|url;...')") %>
        <%= text_field_tag(:online_loc) %> 
      </div> 
      <div class= "field">
        <%= label_tag("Physical Locations (give as 'type|name;...')") %>
        <%= text_field_tag(:phys_loc) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Shelf Location") %>
        <%= text_field_tag(:shelf_loc) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Notes") %>
        <%= text_area_tag(:notes) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Table of Contents") %>
        <%= text_area_tag(:t_o_c) %> 
      </div>  
      <div class= "field">
        <%= label_tag("Is this a Multivolume Work?") %>
        <%= select_tag :multi?, options_for_select([["Yes", :true], ["No", :false]]) %> 
      </div>  
      <%= submit_tag("Create MODS", :id => "mods_button") %>
    <% end %>
  <% end %>
<% else %>
  <h5>Please double check the generated XML file and the new CITE rows</h5>
  <% doc = Nokogiri::XML(@mods) %>
  <div class="xml_block">
    <%= doc.to_xml %>
  </div>
  <div> Version Row
    <%= render "row_display", num: 11, row: @v_arr %>
  </div>
  <% if @w_arr != []%>
    <div> Work Row    
      <%= render "row_display", num: 9, row: @w_arr %>     
    </div>
  <% end %>
  <% if @tg_arr != []%>
    <div> Textgroup Row
      <%= render "row_display", num: 10, row: @tg_arr %>    
    </div>
  <% end %>
  <h5>If these values look correct, click the 'Create File' button. If not, please consult the <%= link_to "CITE Tables", root_path  %> and begin again. Or contact us for help.</h5> 
  <% w_str = @w_arr != [] ? @w_arr[1].to_s : "" %>
  <% tg_str = @tg_arr != [] ? @tg_arr[1].to_s : "" %>
  <%= form_tag forms_create_path, :id => "mods_create", :remote => "true" do %>
    <%= hidden_field_tag :mods, @mods %>
    <% arr_str = @v_arr[1].to_s %>
    <%= hidden_field_tag :arr, arr_str %>
    <%= hidden_field_tag :w_arr, w_str %>
    <%= hidden_field_tag :tg_arr, tg_str %>
    <%= submit_tag("Create File", :id => "create_file") %>
  <% end %>
<% end %>