<% unless @mods %>  
  <%= form_tag forms_mods_path, :id => "mods_form", :remote => "true" do %>
    <%= label_tag("Primary ID") %>
    <%= text_field_tag(:p_id) %>
    <%= label_tag("ID type") %>
    <%= text_field_tag(:p_id_type) %><br>
    <%= label_tag("Alternate ID") %>
    <%= text_field_tag(:alt_id) %><br>
    <%= label_tag("ID type") %>
    <%= text_field_tag(:alt_id_type) %><br>
    <%= label_tag("Primary Title") %>
    <%= text_field_tag(:title) %><br>
    <%= label_tag("Author Name") %>
    <%= text_field_tag(:a_name) %><br>
    <%= label_tag("Author Term of Address") %>
    <%= text_field_tag(:t_o_a) %><br>
    <%= label_tag("Author Dates") %>
    <%= text_field_tag(:a_dates) %><br>
    <%= label_tag("Editor Name") %>
    <%= text_field_tag(:e_name) %><br>
    <%= label_tag("Translator Name") %>
    <%= text_field_tag(:t_name) %><br>
    <%= label_tag("Publisher") %>
    <%= text_field_tag(:publisher) %><br>
    <%= label_tag("Publisher City") %>
    <%= text_field_tag(:p_city) %><br>
    <%= label_tag("Publisher Country") %>
    <%= text_field_tag(:p_country) %>
    <%= link_to "Country code list", "http://www.loc.gov/marc/countries/countries_name.html" %><br>
    <%= label_tag("Manuscript?") %>
    <%= select_tag :manuscript, options_for_select([["Yes", :true], ["No", :false]]) %><br>
    <%= label_tag("Date") %>
    <%= text_field_tag(:date) %><br>
    <%= label_tag("Edition") %>
    <%= text_field_tag(:edition) %><br>
    <%= label_tag("Text Language") %>
    <%= text_field_tag(:lang) %>
    <%= link_to "Language code list", "http://www.loc.gov/marc/languages/language_name.html" %><br>
    <%= label_tag("Physical Description") %>
    <%= text_field_tag(:phys_desc) %><br>
    <%= label_tag("Series") %>
    <%= text_field_tag(:series) %><br>
    <%= label_tag("URL") %>
    <%= text_field_tag(:url) %><br>
    <%= label_tag("URL Label") %>
    <%= text_field_tag(:url_label) %><br>
    <%= submit_tag("Create MODS", :id => "mods_button") %>
  <% end %>
<% else %>
  <h5>Please double check the generated XML file</h5>
  <% byebug %>
  <%= render :partial => "mods_prev" %>
<% end %>