
<%#byebug%>

<% if @s_res %>
<h5>Find the correct work for your new edition below, and then please select if you would like to reserve a URN or create a full MODS record.</h5>
<div id="s_tbl">
  <table>

    <% @s_res.each do |row| %>
    <tr>
      <% if params[:field_type] == "work" %>
        <%= render "w_table", row: row %>
      <% elsif params[:field_type] == "version" %>
        <%= render "v_table", row: row %>
      <% end %>
      <td><%= form_tag forms_path, :id => "reserve", :remote => "true" do %>
            <%= hidden_field_tag :obj, row.urn %>
            <%= submit_tag("Reserve URN", :id => "r_button") %>      
          <% end %>
      </td>
      <td><%= button_to("Create New MODS", forms_path, :id => "mods", :remote => true )%></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %> 