<h1>Listing textgroups</h1>

<table>
  <thead>
    <tr>
      <th>Urn</th>
      <th>Textgroup</th>
      <th>Groupname eng</th>
      <th>Has mads</th>
      <th>Mads possible</th>
      <th>Notes</th>
      <th>Urn status</th>
      <th>Created by</th>
      <th>Edited by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @textgroups.each do |textgroup| %>
      <tr>
        <td><%= textgroup.urn %></td>
        <td><%= textgroup.textgroup %></td>
        <td><%= textgroup.groupname_eng %></td>
        <td><%= textgroup.has_mads %></td>
        <td><%= textgroup.mads_possible %></td>
        <td><%= textgroup.notes %></td>
        <td><%= textgroup.urn_status %></td>
        <td><%= textgroup.created_by %></td>
        <td><%= textgroup.edited_by %></td>
        <td><%= link_to 'Show', textgroup %></td>
        <td><%= link_to 'Edit', edit_textgroup_path(textgroup) %></td>
        <td><%= link_to 'Destroy', textgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Textgroup', new_textgroup_path %>
